/*******************************************************************/
/**************************ROOT STYLING****************************/
/*******************************************************************/

* {
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

:root {
  --main-color: #f40000;
  --text-color: black;
  --sec-color: #a6a6a6;
  --muted-color: #7f7f7f;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

/*******************************************************************/
/**************************STYLE.CSS****************************/
/*******************************************************************/

.navbar {
  box-shadow: 2px 2px 5px var(--main-color);
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem;
}

.navbar .dropdown-menu {
  border: none;
  background-color: white !important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0.5rem 0.5rem;
    margin: 0 0.25rem;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 80px;

    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}

.language-toggler-icon {
  border-left: 2px solid var(--muted-color);
  padding-left: 15px;
}

#lang-dropdown img {
  width: 30px;
}

.carousel-item {
  height: 500px;
}

.carousel-image-1 {
  background: url("../img/engineering.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background: url("../img/innovation.jpg");
  background-size: cover;
}

.carousel-image-3 {
  background: url("../img/technology.jpg");
  background-size: cover;
}

.dark-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

#showcase {
  min-height: 300px;
}

.banner {
  background-size: cover;
}

.banner-overlay {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 10%;
  right: 0;
  width: 100%;
  height: 100%;
  color: white;
}

#capability {
  background-image: url("../img/capability-bg.png");
  background-repeat: no-repeat;
}

#capability-text {
  background-color: rgba(255, 102, 0, 0.8);
  color: white;
}

#capability-img {
  overflow: hidden;
}

#capability-img img {
  height: 100%;
  width: 100%;
}

#dark-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.4);
}

#headertext::before,
#headertext::after {
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: "\a0";
  background-color: var(--muted-color);
}

#headertext:before {
  margin-left: -50%;
  text-align: right;
}

#services img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-right: 5px;
}

#services .text-overlay {
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 5%;
  right: 0;
  width: 100%;
  height: 100%;
  color: white;
}

#client .container:nth-child(2) {
  background: white;
  box-shadow: 2px 2px 5px var(--main-color);
}

#client img {
  width: 250px;
}

#industries {
  border-bottom: 2px;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-style: solid;
  border-color: var(--muted-color);
}

#industries img {
  height: 100%;
  width: 100%;
  position: relative;
}

#industries .text-overlay {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 5%;
  right: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-shadow: 3px 0 black;
}

.about-header {
  background-color: rgba(255, 102, 0, 0.8);
}

.contact-header {
  background-color: rgba(255, 102, 0, 0.8);
}

#map-container {
  overflow: hidden;
}

#who-text {
  background-color: rgba(255, 102, 0, 0.8);
  color: white;
  text-align: justify;
}

#lifecycle-section {
  background-color: rgba(166, 166, 166, 0.2);
}

footer img {
  height: 30px;
  width: auto;
}

/*******************************************************************/
/**************************MEDIA QUERIES****************************/
/*******************************************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar-nav li:first-child {
    border-left: 0px solid var(--main-color);
  }

  .navbar-nav li {
    border-right: 0px solid var(--main-color);
  }
  .boldtitle {
    font-size: 2.25rem;
    font-weight: bold;
    text-shadow: 3px 0 var(--main-color) !important;
  }

  .boldsub {
    font-size: 1rem !important;
  }

  .carousel-item {
    height: 300px;
  }

  .navbar-brand img {
    max-height: 30px;
    padding: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar-nav li:first-child {
    border-left: 0px solid var(--main-color);
  }

  .navbar-nav li {
    border-right: 0px solid var(--main-color);
  }
  .boldtitle {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 3px 0 var(--main-color) !important;
  }

  .boldsub {
    font-size: 2rem !important;
  }

  .navbar-brand img {
    max-height: 30px;
    padding: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (min-width: 768px) {
  .navbar-nav li:first-child {
    border-left: 0px solid var(--main-color);
  }

  .navbar-nav li {
    border-right: 0px solid var(--main-color);
  }
  .boldtitle {
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 3px 0 var(--main-color) !important;
  }

  .boldsub {
    font-size: 2rem;
  }

  .carousel-item {
    height: 300px;
  }

  .navbar-brand img {
    max-height: 50px;
    padding: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-nav li:first-child {
    border-left: 0px solid var(--main-color);
  }

  .navbar-nav li {
    border-right: 2px solid var(--main-color);
  }
  .boldtitle {
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 3px 0 var(--main-color) !important;
  }

  .carousel-item {
    height: 400px;
  }

  .boldsub {
    font-size: 4rem !important;
  }

  .navbar-brand img {
    max-height: 50px;
    padding: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up)  */
@media only screen and (min-width: 1200px) {
  .navbar-nav li:first-child {
    border-left: 0px solid var(--main-color);
  }

  .navbar-nav li {
    border-right: 2px solid var(--main-color);
  }
  .boldtitle {
    font-size: 9rem;
    font-weight: bold;
    text-shadow: 3px 0 var(--main-color) !important;
  }

  .carousel-item {
    height: 500px;
  }

  .boldsub {
    font-size: 4rem !important;
  }

  .navbar-brand img {
    max-height: 50px;
    padding: 0px;
  }
}
