{% extends '_base.html' %} {% block content %} {% load static %}

<section id="contactpage">
  <div id="contact-banner">
    <img class="banner" src="{% static 'img/contact-banner-4.png' %}" alt="" />
    <div class="banner-overlay">
      <h1 class="about-header px-5">Contact Us</h1>
    </div>
  </div>
  <div class="container py-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
          <a href="{% url 'baseapp:index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
      </ol>
    </nav>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row pb-3">
      <div class="col-md-12">
        <h3 class="lead">
          We will be very glad to hear from you. Reachout to us for any queries,
          we are happy to hear from you. We believe in collabration, let this be
          a beginning of am wonderful collabration
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body text-center">
            <h3 class="text-center">Address</h3>
            <hr/>
            <p>
              #8, New Colony,<br />12th Main Road, Anna Nagar West,<br />Chennai
              -600040<br />Tamil Nadu, India.
            </p>
            <div class="iframe-container">
              <iframe
                width="100%"
                height="150%"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=80.20616054534914%2C12.655182634675331%2C80.21118164062501%2C12.658752263171921&amp;layer=mapnik&amp;marker=12.656967455166527%2C80.20867109298706"
                style="border: 1px solid black"
              ></iframe
              ><br /><small
                ><a
                  href="https://www.openstreetmap.org/?mlat=12.65697&amp;mlon=80.20867#map=18/12.65697/80.20867"
                  >View Larger Map</a
                ></small
              >
              <hr />
              <img
                class="img-fluid"
                src="{% static 'img/trezzo-logo.png' %}"
                alt=""
              />
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="text-center">Contact Us</h3>
            <hr />
            <form
              name="contactForm"
              action="{% url 'baseapp:contact' %}"
              method="POST"
              class="needs-validation"
              novalidate
            >
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                      name="fname"
                      required
                    />
                    <div class="invalid-feedback">
                      Please Enter First Name
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last Name"
                      name="lsname"
                      required
                    />
                    <div class="invalid-feedback">
                      Please Enter Last Name
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      name="email"
                      required
                    />
                    <div class="invalid-feedback">
                      Please Enter Email Address
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="tel"
                      class="form-control"
                      placeholder="Contact Number"
                      name="pnumber"
                      pattern="[0-9]{5,}"
                      required
                    />
                    <div class="invalid-feedback">
                      Please Enter Contact Number
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Subject"
                      name="subject"
                      required
                    />
                    <div class="invalid-feedback">
                      Please Enter Subject
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea
                      name="messagetxt"
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="7"
                      placeholder="Message"
                      required
                    ></textarea>
                    <div class="invalid-feedback">
                      Please Enter Message
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn-outline-danger btn"
                      onClick="ValidateFunct()"
                    >
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr />

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    "use strict";
    window.addEventListener(
      "load",
      function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName("needs-validation");
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener(
            "submit",
            function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  })();
</script>

{% endblock content %}
