{% extends '_base.html' %} {% block content %} {% load static %}

<section id="showcase" class="py-5">
  <div id="myCarousel" class="carousel slide py-3" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 class="display-1">ENGINEERING.</h1>
            <h3 class="boldsub pb-5">
              Engineer the furture with us Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Nemo, sunt. Lorem ipsum dolor sit,
              amet consectetur adipisicing elit. Quod, voluptatum.
            </h3>
            <a href="{% url 'baseapp:contact' %}" class="btn btn-lg"
              >Contact Us</a
            >
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-sm-block text-left">
            <h1 class="boldtitle">INNOVATION.</h1>
            <h2 class="boldsub">Drive the Innovation of Tomorrow</h2>

            <a href="{% url 'baseapp:contact' %}" class="btn btn-lg"
              >Contact Us</a
            >
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-sm-block text-left">
            <h1 class="boldtitle">TECHNOLOGY.</h1>
            <h2 class="boldsub">State-of-the-Art technologies with us</h2>
            <a href="{% url 'baseapp:contact' %}" class="btn btn-lg"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<section id="capability">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-7 p-3" id="capability-text">
        <h2 class="text-dark">Capabilities</h2>
        <h3 class="text-justify">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, amet?
          Quidem voluptate nobis eum dolorum vitae minima deleniti veritatis
          error? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Dolorum, numquam. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Consectetur, facere. Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Libero, ad. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Architecto, magni!
        </h3>
      </div>
      <div class="col-md-5 p-0" id="capability-img">
        <img
          class="lazyload"
          data-src="{% static 'img/capability-hook.png' %}"
          alt=""
        />
        <div id="dark-overlay"></div>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 id="headertext">SERVICE AND SUPPORT</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row p-5">
          <p class="lead text-justify">
            Trezzo is divided into three functional groups, each specializing in
            different aspects of product life cycle. Design, Manufacturing and
            Testing verticals help in driving a solution from Ideation to
            High-Quality Deployemnt
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row p-0">
      <div class="col-md-4 p-0">
        <a href="#">
          <img
            class="img-fluid lazyload"
            data-src="{% static 'img/design-car.png' %}"
            alt=""
          />
          <div class="text-overlay">
            <h3>DESIGN</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 p-0">
        <a href="{% url 'baseapp:service' %}">
          <img
            class="img-fluid lazyload"
            data-src="{% static 'img/manufacturing-drill.png' %}"
            alt=""
          />
          <div class="text-overlay">
            <h3>MANUFACTURING</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 p-0">
        <a href="#">
          <img
            class="img-fluid lazyload"
            data-src="{% static 'img/testing-tab.png' %}"
            alt=""
          />
          <div class="text-overlay">
            <h3>TESTING</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="client">
  <div class="container-fluid pt-5 pb-2">
    <div class="row">
      <div class="col text-center">
        <h2 id="headertext">CLIENTS</h2>
      </div>
    </div>
  </div>
  <div class="container pb-5">
    <div id="clientcarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row" id="client-logo">
            <div class="col">
              <img
                class="img-fluid"
                src="{% static 'img/cedi-Logo.png' %}"
                alt="First slide"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="{% static 'img/caterpillar-logo.png' %}"
                alt="First slide"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="{% static 'img/Danfoss-logo.png' %}"
                alt="First slide"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row" id="client-logo">
            <div class="col">
              <img
                class="img-fluid"
                src="{% static 'img/sg-logo.png' %}"
                alt="First slide"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="{% static 'img/HCL-logo.PNG' %}"
                alt="First slide"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid"
                src="{% static 'img/bel-logo.PNG' %}"
                alt="First slide"
              />
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#clientcarousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#clientcarousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<section id="industries">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col text-center">
        <h2 id="headertext">INDUSTRIES</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row p-5">
          <p class="lead text-justify">
            Trezzo's multifaceted and versatile skills are well-suited for
            numerous indsutries ranging from aerospace to medical engineering.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0">
    <div class="row p-0">
      <div class="col-md-4 p-0">
        <img
          class="img-fluid lazyload"
          data-src="{% static 'img/aerospace-industry.png' %}"
          alt=""
        />
        <div class="text-overlay">
          <h3 class="px-5 pb-3">AEROSPACE</h3>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <img
          class="img-fluid lazyload"
          data-src="{% static 'img/automotive-industry.png' %}"
          alt=""
        />
        <div class="text-overlay text-white">
          <h3 class="px-5 pb-3">AUTOMOTIVE</h3>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <img
          class="img-fluid lazyload"
          data-src="{% static 'img/consumer-electronic-industry.png' %}"
          alt=""
        />
        <div class="text-overlay">
          <h3 class="px-5 pb-3">CONSUMER ELECTRONICS</h3>
        </div>
      </div>
    </div>
    <div class="row p-0">
      <div class="col-md-4 p-0">
        <img
          class="img-fluid lazyload"
          data-src="{% static 'img/Euipment-industry.png' %}"
          alt=""
        />
        <div class="text-overlay">
          <h3 class="px-5 pb-3">EQUIPEMENT</h3>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <img
          class="img-fluid lazyload"
          data-src="{% static 'img/industrial-industry.png' %}"
          alt=""
        />
        <div class="text-overlay text-white">
          <h3 class="px-5 pb-3">INDUSTRIAL</h3>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <img
          class="img-fluid lazyload"
          data-src="{% static 'img/medical-industry.png' %}"
          alt=""
        />
        <div class="text-overlay text-dark">
          <h3 class="px-5 pb-3">MEDICAL</h3>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col text-center">
        <a href="#" class="btn btn-lg btn-outline-dark">Explore</a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
